/* layout for skin list page */
body {
    background: linear-gradient(to right bottom, #320370, #15171B);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}

.niger {
	background: linear-gradient(to right top, #320370, #15171B )
}

.itemGrid {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(740px, 1fr));
    grid-auto-columns: auto;
    gap: 50px;
    /* grid-template-columns: repeat(auto-fit); */
    /* grid-auto-rows: auto; */
    justify-content: center;
}

.item {
    margin: 10px;
    padding: 10px;
    /* display: gr; */
    text-align: center;
    border-radius: 15px;
    background-color: #15171B;
    width: 720px;
}

.itemHomeGrid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.itemProfileGrid {
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
}

.itemHomeHeight {
    height: 200px;
}

.itemHomeWidth {
    width: 400px;
}
.itemProfile {
    width: 256px;
}

.dl {
	color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.dl:visited {
    color: purple;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.dl:hover,
.dl:active {
    color: rgb(38, 150, 255)
}

#niger {
	color: rgb(38, 150, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#niger:visited {
    color: purple;
    text-align: center;
    display: inline-block;
	text-decoration: none;
}

#niger:hover,
#niger:active {
	color: white;
	text-decoration: none
}

.itemName {
    color: #e2dfdb;
    background-color: #42484b30;
    margin-right: 2vw;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    font-family: 'Consolas';
    font-weight: bolder;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.itemLongName {
    font-size: 30px;
}

.itemAsLink {
	font-size:80px; 
	margin-bottom:4px; 
	color:rgb(200, 200, 200);
	font-family: 'Oxanium';
}

/* doesnt work :( */
.itemAsLink:hover {
    color: rgb(38, 150, 255)
}

img,
iframe {
    border-radius: 15px;
}

.itemDescription {
    font-size: 24px;
    color: rgb(200, 200, 200)
}

/*menu back----------------------------*/
.mback {
    width: 240px;
    height: 90px;
    position: fixed;
    display: table;
    bottom: 0%;
    right: 0%;
	border-radius: 0;
    overflow: hidden;
}

.mback .img-h {
    width: 240px;
    height: 90px;
    display: table;
    position: fixed;
    z-index: -1;
	border-radius: 0;
    overflow: hidden;
}

.mback .img-nh {
    width: 240px;
    height: 90px;
    position: fixed;
    display: table;
	border-radius: 0;
    overflow: hidden;
}
